accelerate
chroma-hnswlib
chromadb
gradio
huggingface-hub
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
nltk
pydantic
python-dotenv
sentence-transformers
tiktoken
tokenizers
torch
transformers
unstructured
validators
